.soc{
  font-size: 40px;
  color: black;
  font-weight: bold;
}
h1{
  color: red;
  font-size: 20;
}
h2{
  font-size: 50px;
  color: black;
  font-style: oblique;
}
.c{
  font-size: 30px;
  font-weight:bolder;
  color: purple;
}
h3{
  color: maroon;
  font-style: oblique;
  font-size: 50px;
}
table{
  border: 5px solid red;
}
th, td{
  border: 2px solid orange;
}
img{
  border: 10px solid black;
  border-radius: 50%;

}
body{
  background-color: #00CCAA;
  color: black;
}
#conteneur{
  width: 500px;
  margin: 0 auto;
}
.card{
  text-align: center;
  background: white;
  padding: 30px;
  border: 1px solid lightery;
}
#card1{
  background-color: yellow;
}
#card2{
  background-image: url("comp3.png");
  opacity: 0.5;
  background-repeat: no-repeat;
}
#card3{
  background-image: url("soc.jpg");
  opacity: 0.5;
}
